body {
  background-color : lightblue;
}

h1 {
  color : purple;
}

tr {
  color : white;
}

.straw {
  color : tomato;
}

.choc {
  color : brown;
}

.van {
  color : yellow;
}

.dem {
  color : blue;
}

.rep {
  color : red;
}

.lib {
  color : gold;
}

tr.heading {
  color : green;
}
